<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Template Driven Form - Introduction</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-icon aria-hidden="false" aria-label="home icon" class="backToHome" title="Back to Home"
  [routerLink]="['/', 'home']">home</mat-icon>

<mat-card class="loginPageCard">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form">

      <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>

    </form>

  </mat-card-content>
</mat-card>