<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Home</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="cardsHomeMainDiv">
    <mat-card class="home-card">
        <mat-card-header>
            <mat-card-title>Template Driven Forms</mat-card-title>
            <mat-card-subtitle>Introduction</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Introduction to create very basic Template Driven Forms.
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary"
                [routerLink]="['/', 'templateDrivenForm', 'templateDrivenFormIntro']">
                Proceed</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="home-card">
        <mat-card-header>
            <mat-card-title>Reactive Forms</mat-card-title>
            <mat-card-subtitle>Introduction</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Introduction to create very basic Reactive Forms.
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary"
                [routerLink]="['/', 'reactiveForm', 'reactiveFormIntro']">Proceed</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="home-card">
        <mat-card-header>
            <mat-card-title>Template Driven Forms</mat-card-title>
            <mat-card-subtitle>Deep Dive</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Deep dive into Template Driven Forms.
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary"
                [routerLink]="['/', 'templateDrivenForm', 'templateDrivenFormDeepdive']">
                Proceed</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="home-card">
        <mat-card-header>
            <mat-card-title>Reactive Forms</mat-card-title>
            <mat-card-subtitle>Deep Dive</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Deep dive into Reactive Forms.
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary"
                [routerLink]="['/', 'reactiveForm', 'reactiveFormDeepdive']">Proceed</button>
        </mat-card-actions>
    </mat-card>
</div>