/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Styles for the demo Login Forms starts */
.backToHome {
    margin: 10px 10px 10px 20px;
    font-size: 35px;
}

.backToHome:hover {
    cursor: pointer;
    color: #3f51b5;
}

.loginPageCard {
    width: 20%;
    margin-left: 38%;
    margin-top: 50px;
}

.login-form {
    width: 100%;
}

.login-form mat-form-field {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.login-form button {
    margin-top: 20px;
    font-size: 15px;
}

/* Styles for the demo Login Forms ends */

/* Override the default CSS state classes starts */

// // 1: For Input field label text
// .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//     color: darkorchid;
// }

// // 2: For Input field label required marker : the asterisk CSS
// .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
//     color: darkorchid;
// }

// // 3: For the Input Text
// input.ng-invalid.ng-touched {
//     color: darkorchid;
// }

// // 4: The input field border at the botton
// .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
//     background-color: darkorchid;
// }

// // 5: mat-error text below the field
// .mat-error {
//     color: darkorchid;
// }

/* Override the default CSS state classes ends */